* {
  font-family: 'Press Start 2P', !important;
  font-size: small;
}

.container-frontpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px
}

.filter {
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px
}

.filter-flex-item-large {
  flex: 0 0 45%; /* Do not grow, do not shrink, start at 30% of the container's width */
  margin: 10px; /* Adjust as needed */
  /* Other styles for your items */
}

.filter-flex-item-small {
  flex: 0 0 30%; /* Do not grow, do not shrink, start at 30% of the container's width */
  margin: 10px; /* Adjust as needed */
  /* Other styles for your items */
}

.nes-btn {
  margin-bottom: 20px;
}